table {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  border-collapse: separate;
  border-spacing: 0;
}

tbody tr:nth-child(odd) {
  background-color: #fffdfd;
}

th, td { /* cell */
  padding: 0.75rem;
  font-size: 0.9375rem;
}

th { /* header cell */
  font-weight: 700;
  text-align: center;
  color: #1b1c27;
  border-bottom: 2px solid #EB9486;

  position: sticky;
  top: 0;
  background-color: #F9F8F8;
}

td { /* body cell */
    text-align: center;
  color: #3b3b47;
}

/* demo stuff */
body {
  padding: 6rem 2rem;
  background-color: #F9F8F8;
}

h3{
  text-align: center;
  padding-bottom: 20px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #ffd92f;
}

.button1:hover {
  background-color: #ffd92f;
  color: white;
}

label{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text], input[type=time]{
  border-radius: 10px;
  border-color: #ffd92f;
}
input[type=text]:focus, input[type=time]:focus{
  border-radius: 10px;
  border: 4px solid #ffd92f
}